@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-size: 13px;
}

body {
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .autofill-input:-webkit-autofill {
    background-color: white !important;
    color: black !important;
  }

  .autofill-input:-webkit-autofill::first-line {
    color: black !important;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

input[type="date"] {
  color: black;
  background-color: white;
}

input[type="date"] {
  color-scheme: light;
}

.isPiMa {
  justify-content: center !important;
}

.bOmZm option {
  color: rgb(127, 127, 127) !important;
  font: 1em sans-serif;
}

:root {
  background-color: rgb(238, 238, 238, 1) !important;
}

.dark {
  background-color: rgb(30, 30, 30, 1) !important;
}

.skeleton {
  background-image: linear-gradient(105deg,
      transparent 0%,
      transparent 40%,
      #b0b5bf 50%,
      /* blue-500 */
      transparent 60%,
      transparent 100%) !important;
}
.data-table-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd; /* Light border for subtlety */
  border-radius: 8px; /* Rounded corners */
}

.data-table-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.data-table-container::-webkit-scrollbar-thumb {
  background-color: #aaa; /* Soft gray color */
  border-radius: 10px; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.data-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Darker gray on hover */
}

.data-table-container::-webkit-scrollbar-track {
  background: #f7f7f7; /* Very light gray track */
  border-radius: 8px; /* Rounded edges */
}
.custom-checkbox{
  width: 17px;
  height: 17px;
}


/* HTML: <div class="loader"></div> */
.custom-loader {
  --c1:#673b14;
  --c2:#FF947D;
  width: 20px;
  height: 35px;
  border-top: 4px solid var(--c1);
  border-bottom: 4px solid var(--c1);
  background: linear-gradient(90deg, var(--c1) 2px, var(--c2) 0 5px,var(--c1) 0) 50%/7px 8px no-repeat;
  display: grid;
  overflow: hidden;
  animation: l5-0 2s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  width: 75%;
  height: calc(50% - 4px);
  margin: 0 auto;
  border: 2px solid var(--c1);
  border-top: 0;
  box-sizing: content-box;
  border-radius: 0 0 40% 40%;
  -webkit-mask: 
    linear-gradient(#000 0 0) bottom/4px 2px no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  background: 
    linear-gradient(var(--d,0deg),var(--c2) 50%,#0000 0) bottom /100% 205%,
    linear-gradient(var(--c2) 0 0) center/0 100%;
  background-repeat: no-repeat;
  animation: inherit;
  animation-name: l5-1;
}
.custom-loader::after {
  transform-origin: 50% calc(100% + 2px);
  transform: scaleY(-1);
  --s:3px;
  --d:180deg;
}
@keyframes l5-0 {
  80%  {transform: rotate(0)}
  100% {transform: rotate(0.5turn)}
}
@keyframes l5-1 {
  10%,70%  {background-size:100% 205%,var(--s,0) 100%}
  70%,100% {background-position: top,center}
}